$my-palette-primary: (
  50: #f2f9e3,
  100: #dff1b9,
  200: #cae78b,
  300: #b4dd5d,
  400: #a4d63a,
  500: #94cf17,
  600: #8cca14,
  700: #81c311,
  800: #77bd0d,
  900: #65b207,
  A100: #eeffdd,
  A200: #d4ffaa,
  A400: #bbff77,
  A700: #aeff5d,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

/* For use in src/lib/core/theming/_palette.scss */
$my-palette-accent: (
  50: #fff3e0,
  100: #ffe1b3,
  200: #ffce80,
  300: #ffba4d,
  400: #ffab26,
  500: #ff9c00,
  600: #ff9400,
  700: #ff8a00,
  800: #ff8000,
  900: #ff6e00,
  A100: #ffffff,
  A200: #fff7f2,
  A400: #ffd7bf,
  A700: #ffc7a6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-palette-countries: (
  50: #fcffe0,
  100: #f9ffb3,
  200: #f5ff80,
  300: #f0ff4d,
  400: #edff26,
  500: #eaff00,
  600: #e7ff00,
  700: #e4ff00,
  800: #e1ff00,
  900: #dbff00,
  A100: #ffffff,
  A200: #fdfff2,
  A400: #f5ffbf,
  A700: #f1ffa6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
