<div class="countries-dialog">
  <div class="continents">
    <div
      class="continent"
      [routerLink]="['countries/quiz/byWorld']"
      mat-dialog-close
    >
      <span>WORLD</span>
    </div>
    <div
      class="continent"
      [routerLink]="['countries/quiz/continent-america']"
      mat-dialog-close
    >
      <span>AMERICA</span>
    </div>
    <div
      class="continent"
      [routerLink]="['countries/quiz/continent-europe']"
      mat-dialog-close
    >
      <span>EUROPE</span>
    </div>
    <div
      class="continent"
      [routerLink]="['countries/quiz/continent-africa']"
      mat-dialog-close
    >
      <span>AFRICA</span>
    </div>
    <div
      class="continent"
      [routerLink]="['countries/quiz/continent-asia']"
      mat-dialog-close
    >
      <span>ASIA</span>
    </div>
  </div>
</div>
